sudo: false

language: node_js

node_js:
#  - "0.12"
  - "iojs"

install:
  - npm install

script:
  - npm run lint
  - npm run cover
  - npm run nsp
  - make install

branches:
  except:
    - gh-pages

cache:
  directories:
    - node_modules

addons:
   code_climate:
     repo_token: $code_climate_repo_token

after_success:
  - npm run codeclimate-cover-submit
  - npm run codecov-submit


  
