body{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    font: normal normal 400 48pt dyslexic, sans-serif;
}
#__output {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
