html, body{
    color: rgba(130, 191, 58, 1);
    background-color: rgba(255, 255, 255, 1);
    font: normal normal 400 48pt Roboto, sans-serif;
}
#__output {
    border-bottom-color: rgba(2, 119, 195, 1);
    border-bottom-width: 4px;
}
.icon-theme:before { content: "\e9eb"; }
