body{
    color: rgba(7, 27, 115, 1);
    background-color: rgba(255, 255, 255, 1);
    font: normal normal 400 48pt Roboto, sans-serif;
}
#__output {
    border-bottom-color: rgba(253, 122, 0, 1);
    border-bottom-width: 14px;
}
#__percentage {
    background-color: rgba(253, 122, 0, 1);
    opacity: 1;
}

