html, body{
    color: rgba(218, 23, 46, 1);
    background-color: rgba(255, 255, 255, 1);
    font: normal normal 300 48pt Roboto, sans-serif;
}
#__output {
    border-bottom-color: rgba(134, 188, 0, 1);
}
.icon-theme:before { content: "\e9a4"; }
