html, body{
  color: rgba(218, 23, 46, 1);
  background-color: rgba(255, 255, 255, 1);
  font: normal normal 300 48pt Roboto, sans-serif;
}
#__output {
  padding: 0 1.2em 0.2em 0em;
  border-bottom-color: rgba(134, 188, 0, 1);
}
.icon-theme:before { content: "\e9a4"; }

.outputwrap {
  text-align: left;
  left: 3em;
}
@media only screen and (max-width: 480px), (max-height: 480px) {
    .outputwrap {
      left: 1em;
    }
}
