@import 'fonts';
* { transition: all ease 0.1s } /*cough* errm *cough*/
body, span, div, textarea {
  margin: 0;
  border: 0;
  padding: 0;
}
html, body {
  background-color: rgba(251, 240, 217, 1);
  color: rgba(95, 75, 50, 1);
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 48pt;
}
.browsehappy {
  font-size: 0.7em;
  margin: 0 0;
  background: yellow;
  color: black;
  padding: 0.2em 0.2em;
  z-index:481;
  position: relative;
}
.outputwrap {
  width:100%;
  position: absolute;
  text-align: center;
  top: 40%;
  background-color: transparent;
}
@-webkit-keyframes openmouth {
  0% {}
  100% {border-radius:1em; border-width: 0.2em; }
}
@keyframes openmouth {
  0% {}
  100% {border-radius:1em; border-width: 0.2em; }
}
.openmouth {
  -webkit-animation-name: openmouth;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode:forwards;
  animation-name: openmouth;
  animation-duration: 1s;
  animation-iteration-count:1;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode:forwards;
}
.smile {
  -webkit-animation-name: openmouth;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-iteration-count:2;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-name: openmouth;
  animation-duration: 1.0s;
  animation-iteration-count:2;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@-webkit-keyframes reload {
  0% {}
  85% {
    padding: 0 0 0.2em 25%;
    border-radius: 0 0 0 1em;
    -webkit-filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(0.2em);
  }
}
@keyframes reload {
  0% {}
  85% {
    padding: 0 0 0.2em 25%;
    border-radius: 0 0 0 1em;
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -moz-filter: blur(0.2em);
    filter: blur(0.2em);
  }
}
.reload {
  -webkit-animation-name: reload;
  -webkit-animation-duration: 950ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: reload;
  animation-duration: 950ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@-webkit-keyframes breathe-border {
  0% { border-color: currentColor; }
  40% { border-color: rgba(128, 128, 128, 1); }
  50% { border-color: rgba(128, 128, 128, 1); }
  60% { border-color: rgba(128, 128, 128, 1); }
  100% { border-color: currentColor; }
}
@keyframes breathe-border {
  0% { border-color: currentColor; }
  40% { border-color: rgba(128, 128, 128, 1); }
  50% { border-color: rgba(128, 128, 128, 1); }
  60% { border-color: rgba(128, 128, 128, 1); }
  100% { border-color: currentColor; }
}
.breathing {
  /*
   nice idea. Strangely, saps a lot of energy.

  -webkit-animation-name: breathe-border;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: breathe-border;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  */
}
.playing {
}
#__output {
  padding: 0 0.6em 0.2em 0.6em;
  border-bottom: 3px solid currentColor; /*accent*/
  background-color: transparent;
}
#__percentagewrap {
  position: fixed;
  bottom:0;
  left:0;
  height: 0.2em;
  width: 100%;
  z-index: 3;
}
#__percentage {
  background-color:currentColor; /*accent*/
  opacity: 0.5;
  text-align: left;
  height: inherit;
  width: 0;
  bottom: 0;
  position:absolute;
}
#__actionbar {
  font-family: sans-serif;
  font-size: 60%;
  position: fixed;
  top:0;
  width: 1em;
  z-index: 4;
  margin-top: 0.5em;
}
#__actionbar div:hover {
  opacity: 1;
}
#__actionbar div {
  padding: 0.3em 0 0 0.25em;
  cursor: pointer;
  opacity: 0.5;
}
#__actionbar a {
    text-decoration: none;
    color: inherit;
}
#__droparea {
  position: fixed;
  z-index: 1;
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  resize: none;
  cursor: default;
}
.clickarea {
  position: fixed;
  z-index: 2;
}
#__rightarea {
  position: fixed;
  width: 20%;
  right: 0;
  top: 14%;
  height: 72%;
}
#__status {
  width: 100%;
  position: absolute;
  text-align: center;
  display: none;
  font-size: 0.3em;
}
#__status div {
  color: inherit; /*accent*/
  opacity: 0.5;
}
#__status table {
  color: inherit;
  width: 100%;
  font-size: inherit;
}
#__status td {
  font-weight: 300;
  text-align: left;
  font-size: inherit;
}
#__status a {
    color: inherit;
}
#__status td:first-child{
  font-style: italic;
  padding-right: 1em;
  text-align: right;
}
#__toast {
  position: absolute;
  bottom: 20%;
  margin-top: 1.4em;
  width: 100%;
  height: 1.4em;
  background-color: transparent;
  padding-top: 0.4em;
  /* color: inherit;*/ /*accent*/
  opacity: 0.5;
  text-align: center;
  display: none;
}

@keyframes fadeaway {
  100% {opacity: 0}
}
@-webkit-keyframes fadeaway {
  0% {}
  100% {opacity: 0}
}
.fade-away {
  -webkit-animation-name: fadeaway;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode : forwards;
  animation-name: fadeaway;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode : forwards;
}
#__controls {
  font-family: controls;
  position: fixed;
  text-align: center;
  width: 99%;
  bottom: .5em;
  z-index: 3;
}
#__controls nav {
  color: white;
  background-color: black;
  font-size: 60%;
  padding: 0.25em;
  opacity: 0.6;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6); /* 0.23 */
  display: inline;
}
#__controls span {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  padding: 0.2em;
}
#__controls nav:hover {
  opacity: 0.9;
}
/*
.icon-enlarge:before { content: "\e989"; }
.icon-shrink:before { content: "\e98a"; }
*/
html:-webkit-full-screen #__btn_fullscreen:before {
    content: "\e98a";
}
html:-moz-full-screen #__btn_fullscreen:before {
    content: "\e98a";
}
html:-ms-fullscreen #__btn_fullscreen:before {
    content: "\e98a";
}
html:fullscreen #__btn_fullscreen:before {
    content: "\e98a";
}
@media only screen and (max-width: 480px), (max-height: 480px) {
  .hideonmobile {
    display:none;
  }
  #__controls {
    width: 100%;
    bottom: 0;
  }
  #__controls nav {
    width: 100%;
    box-shadow: 0;
    bottom: 0;
  }
  #__controls span {
      padding: 0.1em;
  }
  #__percentagewrap {
    bottom: inherit;
    top: 0;
  }
  #__percentage {
    bottom: inherit;
    top: 0;
  }
  #__toast {
    bottom: inherit;
    top: 10%;
    margin-top: 0;
    font-size: 0.7em;
  }
}

/* default style: sepia */
body{
  color: rgba(95, 75, 50, 1);
  background-color: rgba(251, 240, 217, 1);
  font: normal normal 100 48pt Roboto, sans-serif;
}
#__output {
  border-bottom-color: rgba(95, 75, 50, 0.5);
}
