body{
    color: rgba(24, 164, 229, 1);
    background-color: rgba(255, 255, 255, 1);
    font: normal normal 100 48pt Roboto, sans-serif;
}
#__output {
    border-bottom-color: rgba(227, 114, 34, 1);
}
#__percentage {
    opacity: 1;
}
