body{
    color: rgba(0, 45, 95, 1);
    background-color: rgba(255, 180, 0, 1);
    font: normal normal 300 48pt Roboto, sans-serif;
}
#__output {
    border-bottom-color: rgba(0, 45, 95, 0.5);
}
.icon-theme:before { content: "\e9af"; }
