name: ci

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*/**.md"
      - "*/**.txt"
  pull_request:
    paths-ignore:
      - "*/**.md"
      - "*/**.txt"
  workflow_dispatch:

env:
  CI: true
  NODE_LATEST: 18.x

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/cache@v3
        with:
          path: node_modules
          key: build-${{hashFiles('package.json')}}
          restore-keys: |
            build-
      # - name: dump some variables
      #   run: |
      #     echo '## github object' >> $GITHUB_STEP_SUMMARY
      #     echo '```json' >> $GITHUB_STEP_SUMMARY
      #     echo '${{toJSON(github)}}' >> $GITHUB_STEP_SUMMARY
      #     echo '```' >> $GITHUB_STEP_SUMMARY
      - uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_LATEST}}
      - run: npm install
      - run: npm run depcruise
      - run: npm run format:check
      - run: npm run lint
      - run: npm run test:cover
      - run: npm run build
      - name: emit coverage results to step summary
        if: always()
        run: |
          echo '## Code coverage' >> $GITHUB_STEP_SUMMARY
          node tools/istanbul-json-summary-to-markdown.mjs < coverage/coverage-summary.json >> $GITHUB_STEP_SUMMARY
      - name: on pushes to the default branch emit full depcruise results to step summary
        if: always() && github.event_name == 'push' && github.ref_name == github.event.repository.default_branch
        run: |
          yarn --silent depcruise --output-type markdown >> $GITHUB_STEP_SUMMARY
          echo '## Visual overview' >> $GITHUB_STEP_SUMMARY
          echo '```mermaid' >> $GITHUB_STEP_SUMMARY
          yarn --silent depcruise --exclude "(test|.spec.js$)" --include-only "^(src/script)" --output-type mermaid >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
      - name: on pull requests emit depcruise results + diff graph to step summary
        if: always() && github.event_name == 'pull_request' && github.ref_name != github.event.repository.default_branch
        run: |
          yarn --silent depcruise --output-type markdown >> $GITHUB_STEP_SUMMARY
          echo '## Visual diff' >> $GITHUB_STEP_SUMMARY
          echo '```mermaid' >> $GITHUB_STEP_SUMMARY
          SHA=${{github.event.pull_request.base.sha}} yarn --silent depcruise:graph:diff:mermaid >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

